main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 240px;
    padding-top: 35px;
    padding-bottom: 35px;
}

.student-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 500px;
    height: 500px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}

.student-image {
    width: 400px;
}

.student-name {
    width: 400px;
    height: 27px;
    padding-bottom: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.student-subjects {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 700px;
    height: 500px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}

.subject-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.subject-grade {
    width: 23px;
    height: 27px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.subject-bar {
    background-color: var(--secondary-color);
    transform: rotateX(180deg);
    width: 16px;
    height: 300px;
}

.grade-bar {
    animation : animation-bar 1s;
}

.subject-name {
    width: 50px;
    height: 27px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@keyframes animation-bar {
    0% {top: 0px; height: 0%;}
    100% {top: 300px;}
}

@media (max-width: 768px) {
    main {
        gap: 30px;
    }

    .student-info{
        width: 300px;
        height: 300px;
    }

    .student-image {
        width: 200px;
    }

    .student-name {
        font-size: 12px;
    }

    .student-subjects {
        width: 300px;
        height: 300px;
        gap: 1px;
    }

    .subject-info {
        width: 30px;
    }

    .subject-grade {
        font-size: 12px;
    }

    .subject-bar {
        width: 8px;
        height: 200px;
    }

    .subject-name {
        font-size: 10px;
    }
}