main {
    display: flex;
    justify-content: center;
    padding-right: 300px;
    padding-left: 300px;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.devices-container {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.message-container {
    width: 500px;
}

.message {
    font-size: 60px;
    font-weight: 300;
}

#bold {
    font-weight: bold;
    color: var(--main-color);
}

.courses-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.course-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 400px;
    height: 200px;
    background-color: var(--main-color);
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.course-item:hover {
    border: 1px solid #000000;
    box-shadow: 12px 12px 4px rgba(51, 71, 176, 0.5);
    transition: all 0.3s;
}

.course-text {
    font-size: 64px;
    color: var(--titles-color);
    font-weight: 500;
}

@media (max-width: 768px) {
    main {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-right: 70px;
        padding-left: 70px;    
    }

    .home {
        flex-direction: column;
        gap: 50px;
    }

    .devices-container{
        align-items: center;
    }

    .message-container {
        display: flex;
        justify-content: center;
        width: 300px;
    }

    .message {
        font-size: 30px;
    }

    .devices-image {
        width: 250px;
    }

    .studant-container {
        display: none;
    }

    .course-item {
        width: 250px;
        height: 120px;
    }

    .course-icon {
        width: 50px;
    }

    .course-text {
        font-size: 34px;
    }

}