main {
    flex-direction: column;
}

.filters-container {
    height: 8%;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 100px;
    padding-left: 100px;
}

#status {
    background-color: transparent;
    color: var(--titles-color);
    border: solid 1px #fff;
    border-radius: 5px;
}

#year {
    background-color: transparent;
    color: var(--titles-color);
    border: solid 1px #fff;
    border-radius: 5px;
}

.subtitle-container {
    display: flex;
    align-items: center;
    gap: 24px;
}

.subtitle-option {
    color: var(--main-color);
    font-size: 16px;
    font-weight: 500;
}

.subtitle-title {
    color: var(--main-color);
    font-size: 16px;
    font-weight: 500;
}

.options {
    display: flex;
    gap: 12px;
}

.option {
    display: flex;
    align-items: center;
    gap: 8px;
}

.studying {
    width: 20px;
    height: 20px;
    background-color: var(--main-color);
}

.finished {
    width: 20px;
    height: 20px;
    background-color: var(--tertiary-color);
}

.course-info {
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    height: 92%;
}

.course-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    color: var(--main-color);
    text-shadow: 8px 8px 12px rgba(0, 0, 0, 0.25);
}

.students-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 60px;
}

.student-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 350px;
    gap: 16px;
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: all 0.3s;
}

.student-item:hover {
    border: 1px solid #000000;
    box-shadow: 12px 12px 4px rgba(51, 71, 176, 0.5);
    transition: all 0.3s;
}

.student-image {
    width: 200px;
    height: 200px;
}

.student-name {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1500px) {
    .filters-container {
        height: 5%;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 100px;
        padding-left: 100px;
    }

    .subtitle-title {
        font-size: 12px;
    }

    .subtitle-option {
        font-size: 12px;
    }

    .course-info {
        height: auto;
        padding-top: 75px;
        padding-bottom: 75px;
        gap: 50px;
    }

    .course-name {
        font-size: 25px;
        width: auto;
    }

    .students-container {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .student-item {
        width: 170px;
        height: 300px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .student-image {
        width: 100px;
        height: 100px;
    }

    .student-name {
        font-size: 12px;
    }

}

@media (max-width: 768px) {
    .filters-container {
        height: 100px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 30px;
        padding-left: 30px;
    }
    
    .subtitle-container {
        align-items: center;
    }

    .subtitle-title {
        display: none;
    }

    .options {
        flex-direction: column;
    }

    .course-info {
        padding-top: 75px;
        padding-bottom: 75px;
        gap: 50px;
    }

    .course-name {
        font-size: 30px;
        width: auto;
        text-align: center;
        padding-right: 10px;
        padding-left: 10px;
    }

    .students-container {
        display: flex;
        flex-direction: column;
    }
}