main {
    display: flex;
    flex-direction: column;
}

.filters-container {
    height: 50px;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 100px;
    padding-left: 100px;
}

.subtitle-container {
    display: flex;
    gap: 24px;
}

.subtitle-option {
    color: var(--main-color);
    font-size: 16px;
    font-weight: 500;
}

.subtitle-title {
    color: var(--main-color);
    font-size: 16px;
    font-weight: 500;
}

.options {
    display: flex;
    gap: 8px;
}

.studying {
    width: 20px;
    height: 20px;
    background-color: var(--main-color);
}

.finished {
    width: 20px;
    height: 20px;
    background-color: var(--tertiary-color);
}

.course-name {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 290px;
    right: 290px;
    top: 185px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    color: var(--main-color);
    text-shadow: 8px 8px 12px rgba(0, 0, 0, 0.25);
    margin-top: 2.5%;

}

.students-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 60px;
    margin-top: 12%;
}

.student-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 350px;
    gap: 16px;
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.25);
}

.student-item:hover {
    border: 1px solid #000000;
    box-shadow: 12px 12px 4px rgba(51, 71, 176, 0.5);
    transition: all 0.3s;
}

.student-image {
    width: 200px;
    height: 200px;
    left: 0px;
    top: 0px;
}

.student-name {
    width: 176px;
    height: 54px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}