:root {
    --bg-color: #F5F5F5;
    --main-color: #3347B0;
    --secondary-color: #BCC2E5;
    --tertiary-color: #E5B657;
    --bar-color: #EEEFF8;
    --titles-color: #FFF;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    background-color: var(--main-color);
    height: 100px;
    justify-content: space-between;
    padding-right: 100px;
    padding-left: 100px;
}

main {
    flex-grow: 2;
    flex-wrap: wrap;
    display: flex;
    background-color: var(--bg-color);
}

footer {
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-right: 100px;
    padding-left: 100px;
}

.logo {
    display: flex;
    align-items: center;
    /* padding-right: 96px; */
    gap: 10px;
}

.logo-text {
    color: var(--titles-color);
    word-wrap: break-word;
    width: 75px;
    height: 56px;
    font-size: 24px;
}

.exit {
    display: flex;
    align-items: center;
    color: var(--titles-color);
    gap: 10px;
    transition: all 0.3s;
}

.exit:hover {
    text-shadow: 8px 8px 12px rgba(0, 0, 0, 1);
    transition: all 0.3s;
}

.link {
    display: flex;
    align-items: center;
    gap: 10px;
}

#exit-icon {
    font-size: 30px;
}

.exit-text{
    font-size: 36px;
}

.contacts-container {
    display: flex;
    flex-direction: column;
    color: var(--titles-color);
    gap: 12px;
}

.contact-item {
    display: flex;
    gap: 24px;
}

.social-text {
    font-size: 16px;
    font-weight: 300;
}

.copyright {
    display: flex;
    align-items: center;
    color: var(--titles-color);
}

.copyright-text {
    font-size: 20px;
    font-weight: 300;
}

.social-container {
    color: var(--titles-color);
    display: flex;
    align-items: center;
    gap: 20px;
}

.social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    border-radius: 100%;
    width: 48px;
    height: 48px;
    transition: all 0.3s;
}

.social-item:hover {
    background-color: rgba(255, 255, 255, 0.378);
    transition: all 0.3s;
}

a {
    text-decoration: none;
    color: var(--titles-color);
}

#social-icon {
    font-size: 20px;
}

/* @media (max-width: 1500px) {
    
} */

@media (max-width: 768px) {
    header{
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 14px;
        padding-left: 14px;
    }

    .logo-image {
        width: 40px;
    }

    .logo-text {
        width: 55px;
        height: 36px;
        font-size: 14px;
    }

    #exit-icon {
        font-size: 20px;
    }

    .exit-text {
        font-size: 26px;
    }

    footer {
        flex-direction: column;
        padding-right: 30px;
        padding-left: 30px;
        gap: 50px;
    }

    .contacts-container {
        justify-content: center;
    }

    .copyright {
        justify-content: center
    }

    .copyright-text {
        font-size: 18px;
    }

    .social-container {
        justify-content: center;
    }

    .social-item:hover {
        background-color: transparent;
    }
}